.container {
  @apply block bg-dark-secondary xl:h-[200px] lg:h-[200px] h-[200px] rounded-xl overflow-hidden relative;
}

.container::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #000000, transparent);
}
